<div id="page_wrapper">
<div id="contnent">
	<div style="color: white">
	<p> Username: <%= current_user.username %> </p>
	<p> User Email: <%= current_user.email %> </p>
	<p> <% current_user.posts.each do |posts| %> </p>
	
	<% end %>

	</div>
</div>


</div>